/* Общий стиль страницы */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fcfcf4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    position: relative;
}

/* Стили для изображения */
img {
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Заголовок страницы */
h1 {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

/* Дополнительные стили для страницы */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f3f3f3c4;
    z-index: -1;
}
