<!-- verify_code.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/verify_code.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Your Code</title>
</head>
<body>
    <form method="POST">
        <h1>Введите код c почты:</h1>
        <label for="code">Код:</label>
        <input type="text" id="code" name="code" required>
        <p>Осталось времени: <span id="timer">2:00</span></p>
        <button type="submit">Подтвердить</button>
        <p id="timeoutMessage" style="display: none; color: red;">Время вышло! Пожалуйста, запросите новый код.</p>
        <button id="resendButton" style="display: none;" onclick="resendCode()">Повторно отправить код</button>
    </form>
</body>
</html>
